@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.navbar {
  min-height: 70px;
  width: 100%;
  background-color: #09090A;
}

.logo {
  color: white;
}
.logo img{
  width: 180px;
}

.menu-icon {
  display: none;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

.nav-elements ul li {
  margin-right: 30px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: rgb(188, 188, 188);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-elements ul a:hover {
  color: #ffae42;
}

.nav-elements ul a.active {
  color: white;
  font-weight: 500;
}

.nav-elements .dropdown-menu {
  display: none;
  position: absolute;
  min-width: 150px;
  z-index: 10;
  padding: 22px;
  background-color: #09090A;
  box-shadow: 1px 1px 5px rgb(124, 124, 124);
  opacity: 0;
  transition: opacity 0.5s ease;
  
}

.dropdown-menu a {
  line-height: 20px;

}

.dropdown-menu a:not(:last-child) {
  margin-bottom: 20px;
  font-size: 15px;

}

.nav-elements ul li:hover .dropdown-menu {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.dropdown-menu li a:hover {
  color: white;
}

#login-nav-btn{
  /* border: 1px solid white; */
  padding: 6px 24px;
  background-color: #ffae42;
  cursor: pointer;
}
#login-nav-btn a{
  color: black;
}
.nav-list-icons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 50px;
}
.nav-list-icons .n-icons{
  background-color: rgb(185, 185, 185);
  color: black;
  padding: 5%;
  font-size: 25px;
  border-radius: 50px;
  cursor: pointer;
  transition: .3s all;
}
.nav-list-icons .n-icons:hover{
  background-color: #ffae42;
  color: white;
}

@media (max-width: 1168px) {
  #main-links {
    padding-left: 50px;
  }
  .dropdown-menu {
    width: 70%;
  }
  .nav-elements ul {
    flex-direction: column;
    gap: 20px;
  }
  .dropdown-menu a:not(:last-child) {
    margin-bottom: 0px;
    font-size: 15px;
  }
}

@media (max-width: 1168px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: fixed;
    right: 0;
    top: 60px;
    background-color: #09090A;
    width: 0%;
    height: calc(100vh - 60px);
    transition: width 0.3s ease;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

}