#about-hero {
    height: 80vh;
    /* background-color: #09090A; */
    background: url("../../assets/aboutbackground.png");
    background-position: bottom;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-btn {
    background: #ffae42;
    padding: 1% 3%;
    margin-top: 2%;
    border-radius: 50px;
}

.about-hero-heading {
    color: rgb(231, 231, 231);
    text-align: center;
}

.about-hero-heading h1 {
    font-size: 35px;
}

.about-hero-heading h3 {
    color: #ffae42;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 5px;
    padding-bottom: 1%;
}

.about-page-section {
   
    background: url("../../assets/aboutusbackground.png");
    background-size: cover;
    /* background-position: center; */
    background-position-x: 45%;
    background-position-y:80%;
}

.about-page-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.about-page-content h3 , .about-second-content h3 {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 5px;
    font-weight: 600;
    color: #ffae42;
}
.about-page-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-page-image img {
    width: 80%;
}

.about-second-section {
    /* padding-top: 5%; */
    padding-bottom: 5%;
    /* background: url("../../assets/aboutuspngbgsecond.png"); */
    background-color: #edede8;
    background-size: cover;
    background-position-x: 60%;
}

.about-second-image img{
    width: 100%;
}
.about-second-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.about-vision-wrapper {
    padding: 5% 0;
    display: flex;
    justify-content: center;
    gap: 10%;
    background-color:white;
  
    
}
.awards-recognition {
    min-height: 100vh;
    /* background: #fff7ec; */
    background: url("../../assets/awards_background.png");
    background-size: cover;
    padding: 5% 0;
}
.award-img-col{
    margin-top: 5%;
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 100px;
    
}
.award-img-col img{
    box-shadow: 1px 2px 5px black;
    padding: 20px;
    height: 30vh;
    
}
.wrap-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 30%;
    
}
.wrap-box h1{
    font-size: 16px;
    color: #ffae42;
}
.wrap-box p{
    font-size: 14px;
    text-align: center;
    /* color: rgb(50, 50, 50); */
}

.about-vision-wrapper .about-vision {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #ffae42;
    color: black;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    justify-content: center;
    /* box-shadow: 1px 5px 20px black; */
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);

}

.about-vision p {
    text-align: center;
    padding: 0px 5%;
}



.awards-wrapper {
    padding: 1% 7%;
}

.awards-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.awards-content {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top: 13%;
}

.awards-image img {
    width: 60%;
}

.management-message .sec-headers {
    padding: 3%;
}

.management-wrapper {
    height: 100vh;
}

.milestones-timeline {
    /* background-color: #edede8;*/
    background: url("../../assets/milestonebackground.png");

    padding: 2% 5%;
}

.photo-gallery {
    padding: 5% 5%;
    /* background-color: #edede8; */
    background: url("../../assets/gallery_background.png");
}

.photo-outer-box {
    min-height: 80vh;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
    background-color: #efefef;
    padding: 0;

}

.photo-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5%;
    height: 80vh;
    overflow-y: scroll;
    justify-content: center;
    gap: 20px;
}


.photo-box img {
    width: 220px;
    height: 220px;
    /* border: 20px solid white; */
    background-color: white;
    padding: 1.5%;
    margin: 1%;
    transition: .6s all;
    box-shadow: 1px 2px 10px black;
}

.photo-box img:hover {
    /* filter: grayscale(1); */
    cursor: pointer;
    transform: scale(1.02);
    background-color: #ffae42;
}

.photo-categories {
    /* border-right: 1px solid black; */
    min-height: 80vh;
    /* padding-top: 5%; */
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(230, 230, 230);

}

.photo-categories ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 20%; */
}

.photo-categories ul li {
    list-style: none;
    /* border: 2px solid black; */
    padding: 8px 40px;
    font-size: 18px;
    font-family: 'unna';
    background-color:white;
    /* box-shadow: 1px 2px black; */
    border-radius: 50px;
    cursor: pointer;
    transition: .3s all;
}
.photo-categories ul li:hover{
    box-shadow: inset 0px 100px #ffae42;
}

.photo-wrapper {
    margin-top: 10%;
    /* padding: 5%; */
    border: 1px solid gray;
    /* border: 2px solid black; */
    box-shadow: 1px 2px 5px gray;
}

.photo-categories h3 {
    text-align: center;
    margin-bottom: 15%;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.photo-categories li.photo-catActive {
    background-color: #ffae42;
    color: black;
}

.photo-modal {
    position: fixed;
    top: 8%;
    z-index: 9;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    animation: dropTop .2s linear;
}

@keyframes dropTop {
    0% {
        transform: translateY(-100) scale(0);
        opacity: 0;
    }

    100% {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }
}

.close-photo-modal {
    position: absolute;
    right: 14.5%;
    top:7%;
    width: 20%;
    z-index: 2

}

.close-photo-modal h3 {
    color: black;
    cursor: pointer;
    background-color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.gallery-slide {
    display: flex;
    justify-content: center;
    width: 100%;

}

.gallery-slide img {
    /* width: 500px; */
    border: 2px solid white;
    box-shadow: 1px 2px 10px white;

}

.swiper-main {
    width: 50%;
    /* border: 1px solid white; */
    margin-top: 5%;
}
.photo-modal .swiper-wrapper{
    display: flex;
    width: 100%;

}
.photo-modal .gallery-slide{
    display: flex;
    justify-content: center;
}

.swiper-button-prev,
.swiper-button-next {
    color: white;
    background-color: white;
    padding: 30px
}
.photo-categories img{
    width: 80%;
    margin: auto;

}
.kmp-management{
    background: url('/kmpteambackground.png');
    background-size: cover;
}

.management-popup{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
}
.management-popup-inner{
    background-color: white;
    position: absolute;
    top: 0;
    width: 600px;
    min-height: 50vh;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.management-popup-inner .management-team-details h2::after{
    left: 30%;
    width: 50px;
}
.management-popup-inner .management-card{
    width: 100%;
}
.management-popup-inner .management-team-details{
    box-shadow: none;
}
.management-close-icon{
    position: absolute;
    right: 3%;
    font-size: 40px;
    cursor: pointer;
}
.management-popup-inner img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.kmp-management-wrapper{
    margin: 7% 0;
}

.kmp-management-wrapper h3{
    font-size: 30px;
    border-right: 10px solid #ffae42;
    border-left: 10px solid #ffae42;
    padding: 1%;
    border-top-right-radius: 10px;
    box-shadow: 1px 2px 3px gray;
    text-align: center;
    background: #edede8;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.management-card{
    width: 45%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.management-card p{
    font-size: 13px;
    /* text-align: center; */
}
.management-team-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 2px 5px gray;
    padding: 6%;
    margin-top: -50px;
    gap: 10px;
    
    padding-top: 10%;
    justify-content: center;
    transition: .4s all;
}
.management-team-details span{
    margin-top: 2%;
    font-family: 'unna';
    font-size: 16px;
}
.management-team-details p{
    color: rgb(32, 32, 32);
}
.management-card-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin-bottom: 5%;
}
.management-team-details h2{
    position: relative;
    font-size: 25px;
    
}
.management-team-details h2::after{
    content: '';
    position: absolute;
    background-color: #ffae42;
    width: 50px;
    height: 3px;
    top: 35px;
    left: 30%;
}
.management-card img{
    width: 150px;
    height: 150px;
   z-index: 1;
    border-radius: 50%;
    box-shadow: 2px 1px 10px gray;
}

.management-card h4{
    margin-top: 5%;
    text-align: center;
    font-size: 25px;
}
.management-second{
    /* background-color: rgb(243, 243, 243);
    border:1px solid black; */
    padding: 3%;
    cursor: pointer;
    transition: .4s all;
    box-shadow: 1px 2px 5px gray;

    
}

.management-second .management-ic{
    margin-left: 10px;
    align-content: center;
    transition: .2s all;
}
.management-second span{
    font-size: 17px;
}
.management-second p{
    margin-top: 5%;
    background-color: #ffae42;
    padding: 2% 4%;
    align-content: center;
    font-family: 'unna';
    display: flex;
    align-items: center;
}

.management-second:hover .management-ic{
    transform: rotate(300deg);
}
.nnm-network-team{
    box-shadow: 1px 2px 5px gray;
    padding: 5% 0;
    background: white;


}
.nnm-network-team ul{
    display: flex;
    justify-content: space-between;
    list-style: none;

}
.nnm-network-team ul li{
    text-align: center;
    font-family: 'unna';
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nnm-network-team ul li:not(:last-child){
    border-right: 2px solid #ffae42;

}
.nnm-network-team ul li h5{
    font-size: 30px;
}
.securities-section{
    padding-top: 7%;
}
.securities-box{
    width: 47%;
    padding: 5%;
    box-shadow: 1px 5px 10px gray;
    background-color: white;
}
.securities-row h1{
    font-size: 25px;
    position: relative;
}
.securities-row h1::after{
    content: '';
    background-color: #ffae42;
    width: 70px;
    height: 3px;
    position: absolute;
    left: 0;
    top: 40px;
}
.department-members ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.department-icons{
    margin-right: 5%;
    color: #ffae42;
    font-size: 20px;
}
.securities-box-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
    margin-bottom: 10%;
    padding: 0;
}

.management-second:hover{
    box-shadow: none;
    background-color: #edede8;
}


@media screen and (max-width:768px) {
    .about-hero-heading{
        padding: 5%;
    }
    #about-hero{
        height: 70vh;
        padding-top: 10%;
    }
    .about-hero-heading h3 {
        font-size: 20px;
        padding-top: 5%;
    }
    .about-hero-heading h1{
        font-size:15px;
        padding: 3% 5%;
    }
    .btn-three{
        font-size: 15px;
        width: 50%;
        padding-top: 3% !important;
        padding-bottom: 3% !important;
    }
    .about-page-content{
        padding: 7%;
    }
    .about-page-content p{
        font-size: 14px;
    }
    .about-second-section{
        background: none;
        background: white;
        padding: 6%;
    }
    .about-second-content p{
        font-size: 14px
    }
    .about-second-image{
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
    }
    .about-second-section img{
        width: 90%;
        padding-bottom: 5%;
    }
    .about-second-content{
        padding-bottom: 10%;
    }
    .about-vision-wrapper{
        padding-bottom: 15%;
    
    }
    
    .about-vision-wrapper .about-vision{
        width: 160px;
        height: 160px;
        padding: 5%;
    }
    .about-vision h3{
        font-size: 17px;
    }
    .about-vision p{
        font-size:9px;
    }
    .awards-content{
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        text-align: center;
    }
    .awards-header h3{
        font-size: 20px !important;
    }
    .award-img-col{
        row-gap: 50px;
    }
   
    .photo-categories {
        padding: 0;
        /* border: 1px solid green; */
        min-height: 65vh;
    }
    .photo-categories h3{
        margin: 0;
        margin: 10% 0;
    }
    .photo-categories ul{
        padding-bottom: 10%;
    }
    
    .photo-categories ul li{
        /* width: 60%; */
        text-align: center;
    }
    .photo-wrapper{
        margin-bottom: 10%;
    }
    .photo-outer-box{
        /* border: 2px solid red; */
        padding: 0;
       
        min-height: 80vh;
        overflow-y: hidden;

    }
    .photo-outer-box .photo-box{
        /* border: 2px solid yellowgreen; */
        display: flex;
        justify-content: center;

    }
    .photo-box{
        overflow-y: scroll;
        padding: 10% 0;
    }
    .photo-box img{
       border:  5px solid white;
       width: 300px;
    }
    .photo-modal{
        padding: 0;
        width: 100%;
        margin: 0;
        padding-top: 20%;
    }
    .gallery-slide{
        /* border: 2px solid red; */
        margin: 0;
        padding: 0;
        
    }
    .gallery-slide img{
        width: 300px;
        height: 300px;
        padding: 0;
        margin: 0;
        
    }
    .swiper-main{
        width: 90%;
        margin-top: 20%;
    }
    .swiper-main .swiper-button-prev ,.swiper-button-next{
      
        padding: 0;
        padding: 6%;
        /* border-radius: 50%*/
    }
    .close-photo-modal{
        top:7%;
        padding-top: 20%;
        right: 0%;
        z-index: 2;
    }
    .wrap-box{
        width: 100%;
    }
    
    .management-card-wrapper{
        flex-direction: column;
        padding: 5%;
        gap: 20px;
    }
    .management-card{
        width: 100%;
    }
    .management-team-details h2{
        margin-top: 10%;
    }
    .management-team-details span{
        font-size: 12px;
    }
    .management-team-details p{
        font-size: 11px;
        color: rgb(138, 138, 138);
    }
    .management-second{
        padding: 10% 5%;
    }
    
    .nnm-network-team{
        margin: 5%;
    }
    .nnm-network-team ul{
        flex-direction: column;
        gap: 25px;
    }
    .nnm-network-team ul li{
        width: 100%;
        border-right: none !important;
    }
    .securities-section{
        padding: 10% 5%;
    }
    .securities-row{
        flex-direction: column;
        gap: 15px;
    }
    .department-name{
        padding: 5%;
    }
    .department-name h1{
        font-size: 18px;
    }
    .department-name h1::after{
        top: 25px;
        width: 50px;
    }
    .department-members ul li{
        font-size: 11px;
    }
    .management-popup{
        width: 100%;
        
    }
    .management-popup-inner{
        width: 350px;
    }
    .kmp-management-wrapper h3{
        margin: 2% 5%;
        font-size: 20px;
        padding: 3%;
    }
}
.vertical-timeline-element-title {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 3px;
  position: relative;
}
